body {left: 2%; top: 3%; position: absolute; background-image: url(gradiente.jpg); background-repeat: no-repeat; background-size: cover;}
.espaco {height: auto; width: 100%;}
.lupa { position: relative; left: 10px;height: 50px; width: 50px; background-color: white; border: none; vertical-align:middle; background: none;}
.img_lupa {height: 50px; width: 50px;}
.alinhamento {text-align: center;}
#introdução {font-size: 45px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.introdução {font-size: 45px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; text-align: center;}
#p {font-size: 35px; font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif ;}
#numero {font-size: 30px; border-radius: 20px; box-shadow: 5px 5px 10px rgb(222, 198, 198);}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}

